In [1]:
import json
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from pprint import pprint

In [2]:
df_cso_params = pd.read_csv('logs/params/pso/pso_20230429-104013.csv')

In [5]:
columns = ["epoch", "pop_size", "c1", "c2", "w_min", "w_max", "score"]
data_raw = []
for item in df_cso_params.values:
    item_test = json.loads(item[2].replace("\'", "\""))
    tmp = []
    for k in columns[:-1]:
        tmp.append(item_test[k])
        
    tmp.append(item[6])
    data_raw.append(tmp)
    
data_raw.sort(key=lambda x: x[3], reverse=True)
pd.DataFrame(data_raw, columns=columns)

   epoch  pop_size    c1    c2  w_min  w_max      score
0   15.0      25.0  2.05  2.05    0.4    0.9   3.146722
1   15.0      50.0  2.05  2.05    0.4    0.9   6.215858
2   15.0     100.0  2.05  2.05    0.4    0.9  13.649651
3   30.0      25.0  2.05  2.05    0.4    0.9   7.289796
4   30.0      50.0  2.05  2.05    0.4    0.9  14.717203
5   30.0     100.0  2.05  2.05    0.4    0.9  28.752819
6   50.0      25.0  2.05  2.05    0.4    0.9  11.653950
7   50.0      50.0  2.05  2.05    0.4    0.9  23.722746
8   50.0     100.0  2.05  2.05    0.4    0.9  47.543030